@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {}

html{
    scroll-behavior: smooth;
}
.ibg {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg img {

    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: 1100px;
    padding: 0px 15px;
    margin: 0 auto;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

/*=======================================================================================================*/
.header {
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 0;
    top: 35px;
}

@media (max-width:767px) {
    .header {
        top: 15px;
    }
}

.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.header__menu {}

.header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translate3d(-50%, 0px, 0px);
}

/*=======================================================================================================*/
.menu {}

.menu__icon {}

.menu__body {}

.menu__list {
    display: flex;
}

.menu__list li {
    position: relative;
    padding: 0 37.5px;
}

.menu__list li:nth-child(2) {
    padding: 0 110px 0 37.5px;
}

.menu__list li:nth-child(3) {
    padding: 0 37.5px 0 110px;
}

.menu__list li::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #4d4959;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0px;
    margin: -1.5px 0 0 0;
}

.menu__list li:nth-child(2)::after {
    display: none;
}

.menu__list li:last-child::after {
    display: none;
}

.menu__link {
    color: #4d4959;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}
.menu__link:hover{
    color: #64c29e;
    transition: 0.3s;
}

@media (max-width:767px) {
    .menu__body {
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: auto;
        background-color: #4d4959;
        padding: 150px 0 20px 0;
        transition: all 0.3s ease;
        transform: translate(0px, 100%, 0px);
    }
body.lock {
    overflow: hidden;
}

    .menu__body.active {
        transform: translate(0px, 0px, 0px);
        opacity: 1;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu__list li {
        padding: 0 0 45px 0;
    }

    .menu__list li:nth-child(2),
    .menu__list li:nth-child(3) {
        padding: 0 0 45px 0;

    }

    .menu__list li:last-child {
        padding: 0;
    }

    .menu__list li:nth-child(2)::after {
        display: block;
    }

    .menu__list li::after {
        width: 4px;
        height: 4px;
        background-color: #fff;
        right: 50%;
        top: 40px;
        margin: 0px -2px 0 0px;
    }

    .menu__link {
        color: #fff;
        font-size: 30px;

    }

    .icon-menu {
        display: block;
        position: fixed;
        top: 33px;
        right: 15px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;

    }

    .icon-menu span {
        transition: all 0.3s ease;
        top: 7.5px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #353738;

    }

    .icon-menu span:first-child {
        top: 0px;

    }
    .icon-menu span:last-child {
        top: auto;
        bottom: 0px;
    }

    .icon-menu.active span {
        transform: scale(0);
        background-color: #fff
    }

    .icon-menu.active span:first-child {
        transform: rotate(-45deg);
        top: 8px;
    }

    .icon-menu.active span:last-child {
        transform: rotate(45deg);
        bottom: 8px;
    }
}




/*=======================================================================================================*/
.main-screen {
    flex: 1 0 100%;
    position: relative;
}

.main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*=======================================================================================================*/
.content {}

/*=======================================================================================================*/

.generation {
    padding: 120px 0;
    background-color: #f7f7f7;
}

@media(max-width:900px) {
    .generation {
        padding: 80px 0;
    }
}

@media(max-width:600px) {
    .generation {
        padding: 30px 0;
    }
}

.generation__block {}

.block {
    text-align: center;
}

.block__icon {
    margin: 0 0 33px 0;
}

.block__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 0 0 18px 0;
    line-height: 24px
}

.block__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px;
}

/*=======================================================================================================*/
.brands {}

.brands__row {
    display: flex;
    font-size: 0;
}

.brands__column {
    flex: 0 1 33.333%;
}

.brands__column__b {
    flex: 0 1 66.667%;
}

.brands__item {}

.brands__content {
    padding: 70px 65px 55px 65px;
    position: relative;
}

.brands__content::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin: 0 0 0 -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: 1;

}

.brands__image {
    padding: 0 0 37.51% 0;
}

@media (max-width:1500px) {
    .brands__content {
        padding: 40px 35px 30px 35px;
    }
}

@media (max-width:1100px) {
    .brands__row {
        flex-direction: column;
    }
}

.item {
    height: 100%;
    position: relative;
    display: block;
}

.item__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
    font-size: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.4);
    opacity: 0;
    visibility: hidden;

}

.item__logo span {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #fff;
}

.item:hover {
    .item__logo {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
    }
}

.item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width:1100px) {
    .item {
        height: auto;
        padding: 0 0 70% 0;

    }
}

.block__text__j {
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
}

.block__text__j::after {
    content: '';
    display: block;
    margin: 35px auto 0 auto;
    width: 50px;
    height: 1px;
    background-color: #ebebeb;
}

@media (max-width:1500px) {
    .block__text__j::after {
        margin: 15px auto 0 auto;
    }
}

.brands__rev {
    .brands__column {
        order: 1;
    }

    .brands__column__b {
        order: 2;
    }
}

@media (max-width:1100px) {
    .brands__last {
        .brands__column:nth-child(1) {
            order: 2;
        }

        .brands__column:nth-child(2) {
            order: 1;
        }

        .brands__column:nth-child(3) {
            order: 3;
        }
    }
}

/*========================================================================================================*/
.slider {
    background-color: #f7f7f7;
    padding: 100px 0 100px 0;
}

.slider__body {}

.slider__item {
    text-align: center;
}

.slider__icon {
    margin: 0 0 37px 0px;
    display: flex;
    justify-content: center;
}

.slider__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

.slider__title span {
    font-weight: 300;
    color: #848789;
}

.slider__text {
    text-align-last: center;
    color: #848789;
    font-size: 24px;
    font-style: italic;
    line-height: 34px;
}

/*=======================================================*/

.slick-slider {
    position: relative;
}

.slick-track,
.slick-list {}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-slide {}

.slick-dots {
    bottom: -100px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.slick-dots li button {
    font-size: 0 !important;
    width: 5px !important;
    height: 5px !important;
    border-radius: 50% !important;
    border: 1px solid #c8c8c8 !important;
    background-color: transparent !important;
    margin: 0 auto !important;
}

.slick-dots li.slick-active button {
    background-color: #a9afb3 !important;
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
}

.slick-dots li button:before {
    color: transparent !important;
    font-size: 12px !important;
    margin: -3px auto !important;
}

/*========================================================================================================*/
.shop {}

.shop__body {
    display: flex;
}

.shop__column {
    flex: 0 1 16.665%;
}

.shop__column_b {
    flex: 0 1 33.333%;
}

.shop__block {}

.shop__footer {
    padding: 75px 0;
    text-align: center;
    background-color: #282f35;
}

.shop__btn {
    display: inline-block;
    height: 50px;
    line-height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    letter-spacing: 2.8px;
    font-size: 14px;
    padding: 0 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

@media(max-width:1100px) {
    .shop__body {
        flex-wrap: wrap;
    }

    .shop__column {
        flex: 0 1 50%;
    }

    .shop__column:first-child {
        flex: 1 1 100%;
    }

    .shop__column:last-child {
        flex: 1 1 100%;
    }

    .shop__footer {
        padding: 50px 0;
    }

    .shop__btn {
        padding: 0 30px;
    }
}

.block-shop {
    height: 100%;
}

.block-shop__row {
    display: flex;
}

.block-shop__column {
    flex: 0 1 50%;
}

.block-shop__item {
    padding: 0 0 50% 0;
    height: auto;
}

.block-shop__item_b {
    padding: 0 0 200.5% 0;
}

.block-shop__item_l {
    padding: 0 0 100% 0;
}

/*============================================================================================================*/
.subscribe {}

.subscribe__body {
    padding: 110px 0;
    max-width: 534px;
    margin: 0px auto;
    text-align: center;
}

.subscribe__logo {
    margin: 0 0 39px 0;
}

.subscribe__label {
    color: #848789;
    font-size: 24px;
    font-style: italic;
    margin: 0 0 35px 0;
}

.subscribe__form {
    display: flex;
}

.subscribe__input {
    flex: 1 1 auto;
    padding: 0 8px 0 0;
}

.subscribe__input .input {
    width: 100%;
    height: 69px;
    border: 1px solid #d3d7d9;
    background-color: #fff;
    padding: 0 28px;
    color: #929292;
    font-size: 20px;
    font-style: italic;

}

.subscribe__input .input:focus {
    color: #333;
    font-style: normal;
}

.subscribe__button {
    flex: 0 0 126px;
}

.subscribe__btn {
    width: 100%;
    height: 69px;
    line-height: 69px;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    background-color: #64c29e;
}

@media(max-width:750px) {
    .subscribe__body {
        padding: 50px 0;
    }
}

@media(max-width:500px) {
    .subscribe__form {
        display: block;
    }

    .subscribe__input {
        padding: 0 0 8px 0;
    }
}

/*============================================================================================================*/
.footer {
    background-color: #f7f7f7;
}

.footer__row {
    display: flex;
    padding: 100px 0;
    align-items: center;
}

.footer__column {
    flex: 0 1 33.333%;
}

.footer__address {
    font-size: 18px;
    line-height: 18px;
    color: #848789;
}

.footer__address p:first-child {
    font-weight: 700;
}

.footer__social {}



@media(max-width:1100px) {
    .footer {
        padding: 50px 0;
    }
}

@media(max-width:600px) {
    .footer {
        padding: 30px 0;
    }

    .footer__row {
        flex-direction: column;
        text-align: center;
    }

    .footer__address {
        padding: 0;
    }

    .footer__social {
        margin: 15px 0;
    }
}



.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__link {
    margin: 0 7.5px;
}

.footer__dev {}

.dev {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dev__text {
    color: #848789;
    font-size: 14px;
    font-style: italic;
    padding: 0 9px 0 0;
}

.dev__icon {}